<!DOCTYPE html>
<html>
<head>
	<title>Line Of Peace</title>
	
	<link rel="stylesheet" href="lib/css/bootstrap.min.css">
	<link rel="stylesheet" href="lib/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/style.css">

	<link rel="stylesheet" href="lib/css/angular-material.min.css">
	<link href="https://fonts.googleapis.com/css?family=Exo" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body ng-app="lineOfPeace" ng-cloak>

	<div ng-controller="mainController">

		<ui-view></ui-view>

		
	</div>

	
	<script type="text/javascript" src="lib/js/angular.min.js"></script>
	<script type="text/javascript" src="lib/js/angular-ui-router.js"></script>
	<script type="text/javascript" src="lib/js/ui-bootstrap-tpls-2.0.1.min.js"></script>

	<script type="text/javascript" src="lib/js/angular-aria.min.js"></script>
	<script type="text/javascript" src="lib/js/angular-animate.min.js"></script>
	<script type="text/javascript" src="lib/js/angular-material.min.js"></script>

	<script type="text/javascript" src="app/app.module.js"></script>
	<script type="text/javascript" src="app/factory/appFactory.js"></script>

	<link rel='stylesheet' href='lib/css/textAngular.css'>
	<script src='lib/js/textAngular-rangy.min.js'></script>
	<script src='lib/js/textAngular-sanitize.min.js'></script>
	<script src='lib/js/textAngular.min.js'></script>
	
</body>
</html>